.side-bar-item {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-transform: capitalize;

    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;

    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

.side-bar-item a {
    text-decoration: none;
    color: var(--light-green);

    padding-left: 1.4rem;
}

.side-bar-item:hover{
    /* color: var(--white); */
    background-color: var(--medium-green);
    cursor: pointer;
}

@media(max-width: 375px){
    .side-bar-item a {
        font-size: 0.7rem;
        padding-left: 0.3rem;
    }
}