@charset "UTF8";

.card-container {
    width: 35%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 1.5rem;
    padding: 1.5rem;

    border-radius: .5rem;

    background-color: white;
    font-size: 1rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    gap: .5rem;
}

.btn {
    background-color: var(--light-green);
	border-radius: .3rem;

    cursor: pointer;

    color: #ffffff;
	text-decoration: none;
    font-size: 1rem;

	padding: 0.5rem 2.8em; 
    border: none;
    /* width: 45%; */

    text-align: center;
}

#deny {
    border: 1px solid var(--light-green);
    color: var(--light-green);
    background: white;
}

#deny:hover {
    background: var(--light-green);
    color: white;
}

.btn:hover {
    background-color: var(--dark-green);
}