@charset "UTF8";

.card-container {
    width: 35%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 1.5rem;
    padding: 1.5rem;

    border-radius: .5rem;

    background-color: white;
}

.card {
    font-size: 1rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: var(--light-green);
	border-radius: .3rem;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 1rem;
	padding: 0.5rem 2.8em; 
	text-decoration: none;
    border: none;
}

.btn:hover {
    background-color: var(--dark-green);
}