.login-pg-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-green);
}

.logo-lg {
  position: absolute;
  width: 10%;

  color: white;

  font-size: 2rem;

  margin-left: 5%;
  margin-top: 2%;
}

.login-ct {
  padding-top: 10%;
  height: 70%;
}