@charset "UTF8";

.events-pg-container {
    width: 65vw;

    float: right;
    clear: both;

    display: flex;
    flex-wrap: wrap;

    margin: 1%;
    padding: 1%;

    border-radius: .5rem;

    background-color: var(--light-gray);
}