@charset "UTF8";

.events-pg-container {
    width: 65vw;

    clear: both;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    padding: 1%;

    border-radius: .5rem;

    background-color: var(--light-gray);

    margin-left: 25%;
}
/* 
.events-pg-container.full-page {
    margin-left: 200px;
} */