:root {
    --light-gray: #eeeeee;
    --grey: #a7a7a7;
    --light-green: #4CC03E;
    --medium-green: #2A9B32;
    --dark-green: #136E30;
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

/* * {
    margin: 0;
    padding: 0;
} */